body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}

/* headerのcss */
header {
  width: 100%;
  height: 60px;
  background-color: white;
}

.header-contents{
  display: flex;
}

.flex-content1{
  width: 50%;
}

.flex-content2{
  width: 50%;
}

.contents-li {
  display: flex;
}

.contents-li li {
  width: 20%;
}




/* mainのcss */
.front_view {
  width: 100%;
  height: 600px;
}

.img_view {
  width: 100%;
  height: 600px;
}


/* aboutのcss */
.about{
  margin: auto;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 8px;
  margin: 80px;
}

.my-profile{
  margin-left: 30px;
}

.my-name{
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.my-profile p {
  margin-top: 0px;
}

.icon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.about-detail{
  display: flex;
}

.detail-container{
  margin: 0 auto;
  display: flex;
}
