body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

/* headerのcss */
header {
  width: 100%;
  height: 60px;
  background-color: white;
}

.profile{
  width: 120px;
  height: 40px;
}

.profile h1{
  background-color: black;
  color: white;
  width: 120px;
  height: 40px;
}

.header-contents{
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: auto;
  padding-bottom: 10px;

}

.header-content1{
  width: 50%;
  height: 60px;
}

.header-content2{
  width: 50%;
  height: 60px;
}

.contents-li {
  display: flex;
  list-style: none;

}

.contents-li li {
  width: 20%;
}




/* mainのcss */
.front_view {
  width: 100%;
  height: 600px;
}

.img_view {
  width: 100%;
  height: 600px;
}


/* aboutのcss */
.about{
  margin: auto;
}

h2 {
  font-size: 30px;
  color: rgb(61, 61, 61);
  text-align: center;
  text-decoration: underline 1px;
  text-underline-offset: 8px;
  margin: 80px;
}

.my-profile{
  margin-left: 30px;
}

.my-name{
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.my-profile p {
  margin-top: 0px;
}

.icon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.about-detail{
  display: flex;
}

.detail-container{
  margin: 0 auto;
  display: flex;
}



/* bicycleのcss */
.bicycle-div{
  text-align: center;
  max-width: 960px;
  margin: 0 auto 100px auto;
}

.bicycle-contents{
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.bicycle-content1{
  flex: auto;
  width: 30%;
}

.content1{
  padding: 0 4%;
}

.bicycle-content1 img {
  width: 100%;
  height: 200px;
}

.bicycle-content2{
  flex: auto;
  width: 30%;
}
.content2{
  padding: 0 4%;
}
.bicycle-content2 img {
  width: 100%;
  height: 200px;
}

.bicycle-content3{
  flex: auto;
  width: 30%;
}
.content3{
  padding: 0 4%;
}
.bicycle-content3 img{
  width: 100%;
  height: 200px;
}


/* footerのcss */
footer{
  text-align: center;
  font-size: 8px;
  margin-bottom: 8px;
}
